In [2]:
pip install -q pandas

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
data= pd.read_csv("logs.csv", encoding="utf-8")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [5]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [6]:
data["user_id"].value_counts()

user_id
5678294978    11
9713454510    10
1743281508    10
6991677077     9
7450740664     9
              ..
1483922716     1
3569150622     1
7008957429     1
2771801772     1
5290938675     1
Name: count, Length: 86571, dtype: int64

In [7]:
data_grb_uid = data.groupby("user_id")
data_grb_uid.head()

           user_id   source       email  purchase
0       7141786820    other         NaN         0
1       5644686960    email  c129aa540a         0
2       1914055396  context         NaN         0
3       4099355752    other         NaN         0
4       6032477554  context         NaN         1
...            ...      ...         ...       ...
199994  2816831322  context         NaN         0
199995  8714621942    other         NaN         0
199996  6064948744  context         NaN         1
199997  9210683879  context         NaN         0
199999  2089329795    other         NaN         0

[197727 rows x 4 columns]

In [12]:
data["purchase"] = data["purchase"].astype(bool)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [17]:
print(data[data["source"].isna()])
data["source"] = data["source"].replace("None", None)
data["source"] = data["source"].replace("undef", None)
print(data[data["source"].isna()])

           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b     False
49      5062457902    NaN  9ddce3a861     False
171     6724868284    NaN  c0e48c7cf8     False
258     3221384063    NaN  7fe8da1823     False
379     7515782311    NaN  462462af10     False
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4     False
199661  9473123762    NaN  3535509f51     False
199689   722485056    NaN  470ffa3800     False
199709  5950023506    NaN  0fb749d485     False
199758  3747926428    NaN  604850216f     False

[1855 rows x 4 columns]
           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b     False
49      5062457902    NaN  9ddce3a861     False
171     6724868284    NaN  c0e48c7cf8     False
258     3221384063    NaN  7fe8da1823     False
379     7515782311    NaN  462462af10     False
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4     False
199661  9473123762    NaN  3535509f51     False
199689   722485056    NaN  470ffa3800     False
199709  5950023506    NaN  0fb749d485     False
199758  3747926428    NaN  604850216f     False

[1855 rows x 4 columns]

In [25]:
data_grb_uid = data.groupby("user_id")["source"]
data_grb_uid.sort_values(ascending=True)

AttributeError: 'SeriesGroupBy' object has no attribute 'sort_values'

In [20]:
total_installs = data.shape[0]
total_purchases = data["purchase"].sum()

total_conversion = total_purchases / total_installs

In [ ]:
avoid_n = 0
unique_installs = data_grb_uid.shape[0]
unique_purchases = pd.DataFrame(data_grb_uid).query("purchase != @avoid_n").shape[0]

unique_conversion = unique_purchases / unique_installs

print(f"Конверсия: {total_conversion:.2%}")
print(f"Конверсия (уник.): {unique_conversion:.2%}")